@import "bootstrap";

@font-face {
    font-family: 'Open-Sans';
    src: url('/assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**--------------------------------
 * 	GLOBAL
-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Open-Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #f9f9f97d;
	text-decoration: none;
}

section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-icon {
	background-color: rgba(151, 51, 51, 0.312);
	display: inline-block;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	text-align: center;
}

.section-icon i {
	color: rgba(122, 51, 151, .95);
	font-size: 36px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.title {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #29292aa7;
	font-weight: 600;
	font-size: 14px;
}

.subtitle {
	font-size: 32px;
	opacity: .2;
}

@media (max-width: 320px) {
	.title {
		font-size: 12px;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	section {
		padding: 50px 0;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.subtitle {
		font-size: 28px;
	}
	.description {
		font-size: 14px;
	}
}

/**--------------------------------
 * 	HEADER SECTION
-----------------------------------*/


/**--------------------------------
 * 	ABOUT SECTION
-----------------------------------*/

#about .title:before {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

#about .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

/**--------------------------------
 * 	PUB-LEFT SECTION
-----------------------------------*/

// #first {
// 	height: 600px;
// 	background: url('/assets/obra1.jpg');
// 	background-repeat: no-repeat;
// 	background-position: left center;
// 	background-size: auto 100%;
// 	border-radius: 0 10px 10px 0;
// }

.pub-left .img-pub-left {
	height: 500px;
	border-radius: 0 10px 10px 0;
}


#pub-left .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.pub-left .img-pub-left {
		width: 100%;
		padding: 0 0 30px 0;
		border-radius: 0;
	}
	.page-title {
		text-align: center;
	}
	.title {
		padding-bottom: 10px;
	}
	.subtitle {
		padding-bottom: 10px;
	}
	.description {
		padding-bottom: 10px;
	}
	.pub-left .title:before {
		content: '';
		width: 50px;
		height: 1px;
		display: inline-block;
		background-color: #e1e1e1;
		margin: 0 15px;
		-webkit-transform: translateY(-4px);
		-ms-transform: translateY(-4px);
		transform: translateY(-4px);
	}	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.pub-left .img-pub-left {
		height: 350px;
	}	
}

.btn-default {
	padding: 12px 40px;
	background: linear-gradient(45deg, rgb(139, 17, 17) 40%, rgba(36, 16, 16, 0.829) 100%);
	color: #fff;
	box-shadow: rgba(0, 0, 0, .1);
	transform: translate(0);
	display: inline-block;
	text-transform: uppercase;
	border-radius: 10px;
	letter-spacing: 1.5px;
	font-weight: 700;
	transition: .3s;
	font-size: 14px;
	border: none;
}


/**--------------------------------
 * 	PUB-RIGHT SECTION
-----------------------------------*/

.pub-right .img-pub-right {
	height: 500px;
	border-radius: 10px 0 0 10px;
	margin-left: -25px;
}

.pub-right .title::after {
	content: '';
	width: 50px;
	height: 1px;
	display: inline-block;
	background-color: #e1e1e1;
	margin: 0 15px;
	-webkit-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	transform: translateY(-4px);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.pub-right .img-pub-right {
		width: 100%;
		padding: 0 0 30px 0;
		border-radius: 0;
	}
	.page-title {
		text-align: center;
	}
	.title {
		padding-bottom: 10px;
	}
	.subtitle {
		padding-bottom: 10px;
	}
	.description {
		padding-bottom: 10px;
	}
	.pub-right .title:before {
		content: '';
		width: 50px;
		height: 1px;
		display: inline-block;
		background-color: #e1e1e1;
		margin: 0 15px;
		-webkit-transform: translateY(-4px);
		-ms-transform: translateY(-4px);
		transform: translateY(-4px);
	}	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.pub-right .img-pub-right {
		height: 350px;
	}	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) {

}






.paymentDetailsItemValue {
	background-color: #f9f9f9;
	font-size: 20px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	padding-left: 10px;
}

.paymentDetailsItemLabel {
	background-color: #f9f9f9;
	font-weight: 600;
	font-size: 24px;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 15px;
	padding-right: 10px;
}

.paymentDetailsItem {
	padding-left: 0px;
	list-style-type: none;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
}

#paymentDetailsLastItem {
	margin-bottom: 0px;
}

.paymentDetailsStatus {
	background-color: #f9f9f9;
	display: flex;
	align-items: center;
	justify-content: center;
}

.paymentDetailsCell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.paymentDetails {
	margin: 0;
}

@media screen and (max-width: 768px) {
	#paymentDetailsFirstItem {
		margin-top: 15px;
	}

	.paymentDetailsStatus {
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
}

body{
	background:#f9f9f9;
}
#wrapper{
	padding:90px 15px;
}
.navbar-expand-lg .navbar-nav.side-nav{
	flex-direction: column;
}
.card{
	margin-bottom: 15px; 
	border-radius:0; 
	box-shadow: 0 3px 5px rgba(0,0,0,.1); 
}
.header-top{
	box-shadow: 0 3px 5px rgba(0,0,0,.1);
}
.leftmenutrigger{
	display: none;
}
@media(min-width:992px) {
	.leftmenutrigger{
		display: block;
		display: block;
		margin: 7px 20px 4px 0;
		cursor: pointer;
	}
	#wrapper{
		padding: 90px 15px 15px 15px; 
	}
	.navbar-nav.side-nav.open {
		left:0;
	}
	.navbar-nav.side-nav{
		background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);
		position:fixed;
		top:56px;
		flex-direction: column!important;
		left:-220px;
		width:200px;
		overflow-y:auto;
		bottom:0;
		overflow-x:hidden;
		padding-bottom:40px;
	}
}
.animate{
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}